<div class="tournament-page">
    <div class="form-container">
        <h1>Add Players</h1>
        <form method="post" action="{% url 'tournaments:add_players' tournament_id=tournament.id %}" id="add-players-form">
            {% csrf_token %}
            {% for i in range %}
            <div class="input-group">
                <label for="nickname_{{ i }}">Player {{ i|add:"1" }}:</label>
                <input type="text" id="nickname_{{ i }}" name="nickname_{{ i }}" required>
            </div>
            {% endfor %}
            <button type="submit">Go!</button>
        </form>
        <div class="error">
            {{ error }}
        </div>
    </div>
</div>
